<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CarRentalFinal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CarRentalFinal.Properties.Settings.car_rental_system_dbConnectionString"
            connectionString="server=localhost;user id=root;database=car_rental_system_db;"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <CarRentalFinal.Properties.Settings>
            <setting name="connString" serializeAs="String">
                <value>server=localhost;database=car_rental_system_db;uid=root;pwd=;</value>
            </setting>
        </CarRentalFinal.Properties.Settings>
    </applicationSettings>
</configuration>